


body{

    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color:gray;
    font-size: 16px;
    margin: 0px;
    padding: 0px;
}


#cabecera{

    font-size: 30px;
    text-align: center;
    color: rgb(233, 69, 69);
    font-family: cursive;
    background-color: cadetblue;
}

#container{

    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid grey;
    margin: 0 auto;



}

 #container h1 p{

    font-weight: bold;
    font-size: 20px;
}


footer{

    font-size: 15px;
    font-weight: bold;
    color: white;
    background: black;
    width: 73%;
    margin:0 auto;
    padding: 1px;
}